{erl_opts, [debug_info]}.
{deps, []}.

{shell, [
    %% {config, "config/sys.config"},
    {apps, [my_amazing_app]}
]}.

{relx, [{release, {my_amazing_app, "0.0.1"},
         [my_amazing_app]},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}
       ]
}.

{profiles, [
    {prod, [{relx, [{dev_mode, false},
                    {include_erts, true}]}
     ]}
]}.

{pre_hooks,
  [
   {compile, "bash -c 'make'"},
   {clean,   "bash -c 'make clean'"}
  ]}.
